<h2>Test App</h2>
<body>
    <button onclick="window.location.href='/login'" class="btn btn-lg btn-primary btn-block">Login</button>
     
    <!-- Uses built-in `if` helper. -->
  {{#if showTitle}}
    <h1>Home</h1>
  {{/if}}
 
    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>
 
    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>
    </body>
</body>